---
import { ssr } from "fse-ssr/ssr";
import Layout from "../layouts/Layout.astro";

const { t } = ssr();
---

<Layout title={t.register_success.title} sidebar={false}>
  <main class="grid w-screen h-screen place-items-center">
    <div class="overflow-hidden w-[400px] bg-white rounded-xl border border-secondary-200 text-secondary-500">
      <div class="p-6">
        <header class="mb-4 text-center">
          <h3 class="text-xl font-medium text-black">{t.register_success.header}</h3>
        </header>
        <div class="flex flex-col gap-4 mt-8 text-center text-sm">
          <p>
            {t.register_success.success}
          </p>
          <p>
            {t.register_success.desc}
          </p>
        </div>
      </div>
      <div class="flex justify-end p-6 border-t border-secondary-100">
        <a href="/login" class="inline-flex items-center justify-center w-full h-10 gap-2 whitespace-nowrap btn-primary">
          <span>{t.register_success.return}</span>
        </a>
      </div>
    </div>
  </main>
</Layout>
