---
import Input from "../components/Input.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Register" sidebar={false}>
  <main class="grid w-screen h-screen place-items-center">
    <form
      id="login-form"
      class="overflow-hidden w-[400px] bg-white rounded shadow-md text-secondary-500 shadow-secondary-200"
      action="/register"
      method="POST"
    >
      <div class="p-6">
        <header class="mb-4 text-center">
          <h3 class="text-xl font-medium text-black">Register</h3>
        </header>
        <div class="flex flex-col gap-4 mt-12">
          <Input
            id="email"
            type="email"
            placeholder="Your email"
            required={true}
          />
          <Input
            id="password"
            type="password"
            placeholder="Your password"
            required={true}
          />
          <Input
            id="repeat_password"
            type="password"
            placeholder="Repeat password"
            required={true}
          />
          <!-- Optional -->
          <!-- <Input
            id="register_key"
            type="text"
            placeholder="Register key"
            required={true}
          /> -->
        </div>
      </div>
      <div class="flex justify-end p-6">
        <button
          id="submit-btn"
          type="submit"
          class="inline-flex items-center justify-center w-full h-10 gap-2 whitespace-nowrap btn-primary disabled:cursor-not-allowed disabled:border-primary-300 disabled:bg-primary-300 disabled:shadow-none"
        >
          <span>Register</span>
        </button>
      </div>
      {"{% if error %}"}
      <div class="px-6 py-3">
        <div
          class="w-full px-4 py-3 mb-4 text-sm text-pink-500 border border-pink-100 rounded bg-pink-50"
          role="alert"
        >
          <p>{"{{ error }}"}</p>
        </div>
      </div>
      {"{% endif %}"}
    </form>
  </main>
</Layout>

<script lang="ts" is:inline>
  const form = document.getElementById("login-form");
  const password = document.getElementById("password");
  const repeatPassword = document.getElementById("repeat_password");
  const submitBtn = document.getElementById("submit-btn");

  form?.addEventListener("submit", (e) => {
    if (password.value !== repeatPassword.value) {
      e.preventDefault();
      alert("Passwords do not match!");
      submitBtn.disabled = true;
    } else {
      submitBtn.disabled = false;
    }
  });

  password.addEventListener("input", checkPasswords);
  repeatPassword.addEventListener("input", checkPasswords);

  function checkPasswords() {
    if (password.value === repeatPassword.value) {
      submitBtn.disabled = false;
    } else {
      submitBtn.disabled = true;
    }
  }
</script>
