---
interface Props {
  id: string;
  type:
    | "text"
    | "email"
    | "password"
    | "date"
    | "tel"
    | "datetime-local"
    | "number"
    | "hidden";
  placeholder?: string;
  required?: boolean;
  object_key?: string;
}

const { id, type, placeholder, required, object_key } = Astro.props;

const key = object_key ? `${object_key}.` : "";
---

<div class="relative w-full">
  <input
    id={id}
    type={type}
    name={id}
    placeholder={placeholder}
    required={required}
    value={`{{ ${key}${id} | default(value='') }}`}
    class="relative w-full h-10 px-4 text-sm placeholder-transparent transition-all border rounded outline-none peer border-black text-black autofill:bg-white focus:border-primary-500 focus:outline-none"
  />
  <label
    for={id}
    class="absolute left-2 -top-2 z-[1] px-2 text-xs text-black transition-all before:absolute before:top-0 before:left-0 before:z-[-1] before:block before:h-full before:w-full before:bg-white before:transition-all peer-placeholder-shown:top-2.5 peer-placeholder-shown:text-sm peer-focus:-top-2 peer-focus:text-xs peer-focus:text-primary-500 peer-disabled:cursor-not-allowed peer-disabled:text-black peer-disabled:before:bg-transparent"
  >
    {placeholder}
  </label>
</div>
