---
import RawHtml from "./RawHtml.astro";

interface Props {
  options: Option[];
  id: string;
  placeholder: string;
  selected?: boolean;
  required?: boolean;
  object_key?: string;
}

interface Option {
  value: string;
  label: string;
}

const {
  options,
  id,
  placeholder,
  selected = false,
  required = false,
  object_key,
} = Astro.props;

const key = object_key ? `${object_key}.` : "";
---

<div class="relative w-full">
  {`{% set selected = ${key}${id} | default(value=1) %}`}
  <select
    id={id}
    name={id}
    required={required}
    class="relative w-full h-10 px-4 text-sm transition-all bg-white border rounded outline-none appearance-none focus-visible:outline-none peer border-black autofill:bg-white"
  >
    {
      options.map((option: any) => {
        const selected_attr =
          selected &&
          `{% if selected == '${option.value}' %}selected{% endif %}`;
        return (
          <RawHtml
            html={`<option value="${option.value}" ${selected_attr}>${option.label}</option>`}
          />
        );
      })
    }
  </select>
  <label
    for={id}
    class="pointer-events-none absolute top-3 left-2 z-[1] px-2 text-base transition-all before:absolute before:top-0 before:left-0 before:z-[-1] before:block before:h-full before:w-full before:bg-white before:transition-all peer-valid:-top-2 peer-valid:text-xs peer-focus:-top-2 peer-focus:text-xs peer-focus:text-primary-500"
  >
    {placeholder}
  </label>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="pointer-events-none absolute top-2.5 right-2 h-5 w-5 fill-black transition-all peer-focus:fill-primary-500 peer-disabled:cursor-not-allowed"
    viewBox="0 0 20 20"
    fill="currentColor"
  >
    <title id="title-10">Arrow Icon</title>
    <desc id="description-10">Arrow icon of the select list.</desc>
    <path
      fill-rule="evenodd"
      d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
      clip-rule="evenodd"></path>
  </svg>
</div>
