---
import RawHtml from "./RawHtml.astro";

interface Props {
  options: Option[];
  id: string;
  placeholder: string;
  selected?: boolean;
  required?: boolean;
  object_key?: string;
}

interface Option {
  value: string;
  label: string;
}

const {
  options,
  id,
  placeholder,
  selected = false,
  required = false,
  object_key,
} = Astro.props;

const key = object_key ? `${object_key}.` : "";
---

<div class="relative w-full">
  {`{% set selected = ${key}${id} | default(value=1) %}`}
  <select
    id={id}
    name={id}
    required={required}
    class="relative w-full h-10 px-3.5 text-sm transition-all bg-white border border-secondary-300 rounded-lg outline-hidden appearance-none focus:border-primary-500 focus:ring-1 focus:ring-primary-500 peer text-secondary-900 autofill:bg-white"
  >
    {
      options.map((option: any) => {
        const selected_attr =
          selected &&
          `{% if selected == '${option.value}' %}selected{% endif %}`;
        return (
          <RawHtml
            html={`<option value="${option.value}" ${selected_attr}>${option.label}</option>`}
          />
        );
      })
    }
  </select>
  <label
    for={id}
    class="pointer-events-none absolute top-2.5 left-2 z-1 px-1.5 text-sm text-secondary-500 transition-all before:absolute before:top-0 before:left-0 before:z-[-1] before:block before:h-full before:w-full before:bg-white before:transition-all peer-valid:-top-2 peer-valid:text-xs peer-focus:-top-2 peer-focus:text-xs peer-focus:text-primary-600"
  >
    {placeholder}
  </label>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="14"
    height="14"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="pointer-events-none absolute right-3 top-1/2 -translate-y-1/2 text-secondary-400"
  >
    <path d="m6 9 6 6 6-6"></path>
  </svg>
</div>
